@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;    
    overflow-x: hidden;
}

h2 {
    letter-spacing: 3px;
}

h2, p {
    text-align: center;
    color: white;
}

nav {
    width: 100%;
    height: 8%;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), transparent);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    list-style: none;
    text-transform: uppercase;
    padding: 5px 0;
    margin: 15px 10px;
    color: white;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
    border-bottom: 3px solid white;
}

section {
    display: flex;
    width: 100%;
    min-height: 100vh !important;
    justify-content: center;
    align-items: center;
}


section article {
    width: 85vw;
    height: 85vh;
}

/* ESTILO SECTION HOME */

#home {
    align-items: center;
    justify-content: center;
    display: flex;
    background: url("../imagens/endless-constellation.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* background by SVGBackgrounds.com */

.capa {
    align-items: center;
    justify-content: center;
    display: flex;
}

.capa .txt-estatico {
    color: white;
    font-size: 40px;
}

.capa .txt-dinamico {
    margin-left: 15px;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
}

.txt-dinamico li {
    list-style: none;
    color: #4fbdd1;
    font-size: 40px;
    top: 0;
    position: relative;
    animation: slide 6s steps(3) infinite;
}

@keyframes slide {
    100%{
        top: -150px
    }
}

.txt-dinamico li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #4fbdd1;
    background-color: #a83f2c;
    animation: typing 2s steps(9) infinite;
}

@keyframes typing {
    40%,
    60%{
        left: calc(100% + 40px);
    }
    100%{
        left: 0;
    }
}

#home img {
    width: 40vw;
    height: 100vh;
}

#home figcaption a {
    text-decoration: none;
    font-size: 8px;
    color: white;
    display: none;
}

/* ESTILO SECTION SOBRE */

#sobre article {
    display: flex;
    width: 100vw;
}

.descricao h1, p{
    width: 80%;
    padding: 10px;
    margin-right: 2%;
    margin: auto;
}

.descricao p {
    text-align: justify;
}

#sobre img {
    height: 100vh;
    float: start;
    margin-right: 0;
}

/* ESTILO SECTION PROJETOS */

#projetos {
    display: flex;
}

.cards {
    margin: auto;
    max-width: 80%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.cards figure img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    transition: all 0.3s;
}

.cards figure img:hover {
    transform: scale(1.05);
}

.cards figure img:hover ~ figcaption {
    transform: scale(1.05);
    display: block;
}
.cards a {
    text-decoration: none;
}

.cards figcaption {
    display: none;
    text-align: center;
    color: white;
    transition: all 0.3s;
}

/* ESTILO SECTION CONTATO */

#contato {
    text-align: center;
    display: flex;
}

.social-media {
    text-align: center;
    padding: 20px;
}

.social-media a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

.social-media img {
    width: 50px;
    height: 50px;
    transition: all 0.3s;
}

.social-media img:hover {
    transform: scale(1.1);
}

#contato a {
    text-decoration: none;
    color: white;
    font-size: 9px;
}

/* ESTILO RODAPÉ */

footer {
    display: flex;
}

footer p {
    color: black;
}

a {
    text-decoration: none;
}

/* CORES DIFERENTES DE BACKGROUND PARA CADA SECTION */

section:nth-of-type(1) {
    background-color: #a83f2c;
}

section:nth-of-type(2) {
    background-color: #2d625f;
}

section:nth-of-type(3) {
    background-color: #d07f0d;
}

section:nth-of-type(4) {
    background-color: #532e22;
}

/* Paleta usada no backgound https://www.color-hex.com/color-palette/8047 */